$sidebar-bg-color:white;
$sidebar-color: black;
$highlight-color:#FF6270;
$submenu-bg-color:white;
$sidebar-collapsed-width: 150px !default;
$sidebar-font-family: 'Arial';
$submenu-bg-color-collapsed: white;
@import '~react-pro-sidebar/dist/scss/styles.scss';